h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
}
.title {
  background: rgba(0, 0, 0, 0.5);
  float: center;
  padding: 4px;
}
body,
html {
  padding: 0;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(wp.jpg);
  text-align: center;
}
img {
  width: 450px;
  height: 400px;
  float: left;
}

a:hover {
  color: rgb(255, 255, 255);
}
.artykuł {
  float: left;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: rgb(194, 194, 194);
  margin-top: 15px;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  color: azure;
}
p {
  font-family: "Outfit", sans-serif;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
footer {
  background-color: lavender;
  float: left;
  width: 100%;
  color: rgb(32, 32, 32);
}
p:hover {
  transform: scale(1.02, 1.01);
  color: aquamarine;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  -webkit-transform: scale(1.05, 1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  position: relative;
  z-index: 99;
}
